.product-itm img{
    width: 300px;
    height: 300px;
    margin-top: 10px;
    margin-left: 15%;
    border: 3px solid goldenrod;
    border-radius: 50%;
}
.product-corner{
display: grid;
grid-template-columns:repeat(3, 1fr);
}
.product-itm{
    margin: 10px;
    border: 2px solid black;
}
.product-itm:hover{
    background-color: rgba(253, 0, 219, 0.466);
    border-radius: 15px;
}
.product-itm h3, p{
margin-left: 20px;
}

.product-itm button{
    padding: 8px 30px;
    background-color:rgb(218, 240, 23);
    border: 1px solid lightgray;
    border-radius: 10px;
    cursor: pointer;
    margin-bottom: 20px;
    margin-left: 20%;
}
.product-itm button:hover{
    background-color: cyan;
}
