.shop-component{
    display: grid;
    grid-template-columns: 3fr 1fr;
    background-color: aquamarine;
}
.product-container{
    background-color: blue;
}

.card-section{
    border: 3px solid black;
    margin: 10px;
}